body {
    background-color: #213b50;
    color: #fff;
    width: 600px;
    padding: 20px;
}

form select,
form input[type="text"],
form input[type="tel"],
form input[type="email"],
form textarea {
    width: 300px;
    background-color: #264a64;
    color: #fff;
    border: #264a64 1px solid;
    height: 25px;
}

form select:focus,
form input:focus,
form textarea:focus {
    background-color: #4e708c;
    border: #fff 1px solid;
    outline: none;
}

form input[type="submit"] {
    background-color: #1ac056;
    border: #264a64 1px solid;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 20px;
    font-weight: 800;
    cursor: pointer;
}

form input[type:"submit"]:hover {
    background-color: #46e881;
}

.checkbox {
    width: 90vw;
}

form input[type="checkbox"] {
    float: left
}
