form {
    background-color: #213b50;
    color: #fff;
    width: 600px;
    padding: 20px;
}

form select,
form input[type="text"],
form input[type=tel],
form input[type=email],
form textarea {
    width: 300px;
    background-color: #264a64;
    color: #fff;
    border: #264a64 1px solid;
    height: 25px;
}
